.cell {
    background: rgb(241, 241, 213);;
    /* margin: 5px; */
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
}
.cell:before {
    content:'';
    float:left;
    padding-top:100%;
}

.flex-container {
    /* background: tomato; */
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
   
    line-height:30px;
}

.enable {
    border: 6px solid rgb(233, 203, 73);
}

.current{
    background-color: rgb(170, 170, 170);
}

.hidden{
    display: none;
}



