.cell {
    width: 50px;
    height: 50px;
    background-color: rgb(241, 241, 213);
    border: 1px solid rgb(197, 197, 197);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.enable {
    border: 6px solid rgb(233, 203, 73);
}

.current{
    background-color: rgb(170, 170, 170);
}